body {
    margin: 0;
}

.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: .5fr 5fr / 3fr 1fr;
    grid-template-areas: 
    'projectPanel toolBar'
    'todoPanel todoPanel';
}

.toolBar {
    display: flex;
    grid-area: toolBar;
    border: 1px solid purple;
}

.projectPanel {
    grid-area: projectPanel;
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.projectPanel {
    background-color: yellow;
    max-width: 150px;
}

.todoPanel {
    grid-area: todoPanel;
    border: 1px solid blue;
    height: 100%;
    width: 100%;
}