:root {
	--projectPanel: 3rem;
	--toolBar: 40px;
	--main: calc(100vh - calc(var(--projectPanel) + var(--toolBar)));
}

.tooltip {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.tooltip span.tooltiptext {
    --tooltipwidth: 120px;
    --tooltipbackgroundcolor: lightcyan;

    visibility: hidden;
    width: 120px;
    background-color: var(--tooltipbackgroundcolor);
    color: purple;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 100%;
    margin-left: 15px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover span.tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip span.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--tooltipbackgroundcolor) transparent transparent;
  }

.content {
    height: 100vh;
    display: grid;
    grid-template: var(--projectPanel) var(--toolBar) var(--main) / 3fr 1fr;
    grid-template-areas: 
    'projectPanel projectPanel'
    'toolBar toolBar'
    'todoPanel todoPanel';
}

.toolBar {
    display: flex;
    justify-content: flex-end;
    height: var(--toolBar);
    grid-area: toolBar;
    background-color: black;
}

.projectPanel {
    display: flex;
    justify-content: flex-start;
    grid-area: projectPanel;
    background-color: rgb(230, 230, 230);
    height: var(--projectPanel);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 35%;
    border-top-left-radius: 35%;
    background-color: rgb(54, 4, 54);
    border: 2px solid saddlebrown;
    max-width: 150px;
    min-width: 50px;
    height: 100%;
    margin-left: 5px;
    padding: 0 5px;
    color: white;
}

.todoPanel {
    grid-area: todoPanel;
    height: var(--main);
    background-color: rgb(57, 57, 57);
    height: 100%;
}